.current-version:after {
  position: fixed;
  bottom: 0;
  right: 0;
  content: "0.1.11";
  background-color: rgba(255,255,255,0.75);
  -ms-border-radius: 4px 0px 0px 0px;
      border-radius: 4px 0px 0px 0px;
  font: normal 0.5em "Consolas","Open Sans","Helvetica Neue","Helvetica","Arial",Sans-Serif;
  text-align: right;
  color: #3087b4;
  display: table;
  padding: 5px;
  z-index: 999;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
      -ms-font-smoothing: antialiased;
       -o-font-smoothing: antialiased;
          font-smoothing: antialiased;
  -webkit-transition: 0.2s;
     -moz-transition: 0.2s;
      -ms-transition: 0.2s;
          transition: 0.2s;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, textarea, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  line-height: 1.5em;
}
html { /*Fixes issue with fonts becoming too big or small when viewed on mobile devices*/
  -webkit-text-size-adjust: none;
  -o-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
nav ul,
nav ol,
nav li {
  list-style: none;
}
body {
  font: normal 100% "Open Sans","Helvetica Neue","Helvetica","Arial",Sans-Serif;
  text-align: left;
}
/*Typography
---------------------------------------------------*/
h1, .h1 {
  font-size: 4em;
  font-weight: 300;
}
h2, .h2 {
  font-size: 3.5em;
  font-weight: 300;
}
h3, .h3 {
  font-size: 3em;
  font-weight: 300;
}
h4, .h4 {
  font-size: 2.5em;
  font-weight: 300;
}
h5, .h5 {
  font-size: 2em;
  font-weight: 300;
}
h5, .h5 {
  font-size: 1.75em;
  font-weight: 300;
}
h6, .h6 {
  font-size: 1.5em;
  font-weight: 300;
}
.wrap {
  position: relative;
  height: 100%;
  width: 100%;
}
.page-holder {
  position: relative;
}
nav,
section,
footer {
  width: 100%;
  }
nav {
  position: relative;
  background-color: rgba(255,255,255,0.9);
}
nav.nav-stuck {
  position: fixed;
  top: 0;
  z-index: 999;
}
nav ul {
  width: 1000px;
  margin: 0px auto;
  padding: 15px 30px;
  color: #333;
}
.content {
  max-width: 1000px;
  margin: 0px auto;
  padding: 50px 15px;
}
section.hero {
  text-align: center;
  background-color: #3087b4;
  color:#fff;
}
section:nth-child(even) {
  background-color: #f5f5f5;
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f5f5f5;
  border-top: #ddd 1px solid;
  font-size: 12px;
  color: #666;
}
.line {zoom: 1;}
.line:before, .line:after {
content: " ";
display: table;
}
.line:after {clear: both;}
.unit {
  overflow: hidden;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.lastUnit {
  overflow: hidden;
  float: none;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.group, .lastGroup {
  overflow: hidden;
  -webkit-background-clip: padding-box !important;
     -moz-background-clip: padding-box !important;
          background-clip: padding-box !important;
}
.group {
  position: relative;
  float: left;
}
.lastGroup {
  float: none;
  width: auto;
}
.table {display: table;}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}
/* Grid System
--------------------------------------------- */
.size1of8 {width: 12.5%;}
.size1of4,
.size2of8 {width: 25%;}
.size1of3 {width: 33.33333333333333%;}
.size3of8 {width: 37.5%;}
.size1of2,
.size2of4,
.sixe4of8 {width: 50%;}
.size5of8 {width: 62.5%;}
.size2of3 {width: 66.66666666666667%;}
.size3of4,
.size6of8 {width: 75%;}
.size7of8 {width: 87.5%;}
.size1of1,
.size2of2,
.size3of3,
.size4of4,
.size8of8 {width: 100%;}
@media screen and (max-width: 60em) {
  .size1of8 {width: 50%;}
}
@media screen and (max-width: 40em) {
  .size1of8,
  .size1of4, .size2of8,
  .size1of3,
  .size3of8,
  .size1of2, .size2of4, .sixe4of8,
  .size5of8,
  .size2of3,
  .size3of4, .size6of8,
  .size7of8,
}
