.current-version:after {
  position: fixed;
  bottom: 0;
  right: 0;
  content: "0.1";
  background-color: rgba(255,255,255,0.75);
  -ms-border-radius: 4px 0px 0px 0px;
      border-radius: 4px 0px 0px 0px;
  font: normal 0.5em "Consolas","Open Sans","Helvetica Neue","Helvetica","Arial",Sans-Serif;
  text-align: right;
  color: #3087b4;
  display: table;
  padding: 5px;
  z-index: 999;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
      -ms-font-smoothing: antialiased;
       -o-font-smoothing: antialiased;
          font-smoothing: antialiased;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, textarea, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  line-height: 1.5em;
}
html { /*Fixes issue with fonts becoming too big or small when viewed on mobile devices*/
  -webkit-text-size-adjust: none;
  -o-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
ul,
ol,
li {
  list-style: none;
}
li {
  display: inline-block;
}
body {
  font: normal 100% "Open Sans","Helvetica Neue","Helvetica","Arial",Sans-Serif;
  text-align: left;
  color: #333;
}

/*Typography
---------------------------------------------------*/
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 300;
  line-height: 1em;
  margin-bottom: 0.5em;
}
h1, .h1 {
  font-size: 4em;
}
h2, .h2 {
  font-size: 3.5em;
}
h3, .h3 {
  font-size: 3em;
}
h4, .h4 {
  font-size: 2.5em;
}
h5, .h5 {
  font-size: 1.75em;
}
h6, .h6 {
  font-size: 1.5em;
}
p {
  font-size: 14px;
  line-height: 2em;
  margin-bottom: 2em;
}
p:last-child {margin-bottom:0px;}
.text-center {text-align: center;}
a {
  color: #3087b4;
  text-decoration: none;
}

.hr {
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.bg-black {background-color: #000 !important;}
.bg-blue {background-color: #3087b4 !important;}
.wrap {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/*.page-holder {
  position: relative;
  padding-bottom: 119px;
}
*/nav ul,
.content {max-width: 800px}
nav,
section,
footer {
  width: 100%;
}
section:before, section:after {
content: " ";
display: table;
}
section:after {clear: both;}
nav {
  position: relative;
  display: block;
  width: 100%;
  background-color: rgba(255,255,255,0.9);
}
nav.stuckNav {
  position: fixed;
  top: 0;
  z-index: 999;
}
nav ul {
  position: relative;
  display: block;
  padding: 0px 30px;
  margin: 0px auto;
  color: #333;
  overflow: auto;
}
nav a:hover {
  cursor: pointer;
}
nav li {
  float: left;
}
nav li a {
  display: block;
  color: #666;
  padding: 30px 30px;
}
nav li a:hover {
  color: #3087b4;
  box-shadow: inset 0px -4px 0px #3087b4;
  transition: all .15s ease-in-out;
}
.content {
  margin: 0px auto;
  padding: 50px 15px;
  overflow: auto;
}
section.hero {
  min-height: 80%;
  background-image: url('');
  background-size: cover;
  color: #fff;
}
#scrollDown {
  cursor: pointer;
}

/*
// Home Hero
*/
.location {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  padding: 15px;
}
.location .table {
  height: 50px;
}
img#bf-pic {
  width: 75px;
  margin-bottom: 30px;
  border-radius: 50%;
}

/*
// Projects Grid
*/
.projects {
  position: relative;
  display: block;
}
ol.grid li {
  position: relative;
  display: inline-block;
  float: left;
  width: 22.680412371134%;
  min-height: 1px;
  margin: 0px 3.092783505155% 30px 0px;
}
ol.grid li:nth-child(4n) {
  margin-right: 0px;
}
@media screen and (max-width: 60em){ /* 960px */
  ol.grid li {
    width: 31%;
  }
  ol.grid li:nth-child(4n) {
    margin-right: 3.092783505155%;
  }
  ol.grid li:nth-child(3n) {
    margin-right: 0px;
  }
}
@media screen and (max-width: 40em){ /* 640px */
  ol.grid li {
    width: 48%;
  }
  ol.grid li:nth-child(3n) {
    margin-right: 3.092783505155%;
  }
  ol.grid li:nth-child(2n) {
    margin-right: 0px;
  }
}
@media screen and (max-width: 30em){ /* 480px */
  ol.grid li {
    width: 100%;
  }
  ol.grid li {
    margin-right: 0px !important;
  }
}
ol.grid li a {
  position: relative;
  display: block;
  min-height: 200px;
  padding: 15px;
  background-color: #3087b4;
}

/*
// Blog
*/
section.blog-hero,
section.blog-article {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 50%;
  float: left;
  text-align: left;
}
section.blog-hero {
  left: 0;
  color: #fff;
}
section.blog-article {
  right: 0;
  overflow-y: scroll;
}
.blog-title, .blog-title {
  font-size: 1.5em;
  margin-bottom: 2em;
  color: #fff;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f5f5f5;
  border-top: #ddd 1px solid;
  font-size: 12px;
  color: #666;
}
.line {zoom: 1;}
.line:before, .line:after {
content: " ";
display: table;
}
.line:after {clear: both;}
.unit {
  overflow: hidden;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.lastUnit {
  overflow: hidden;
  float: none;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.group, .lastGroup {
  overflow: hidden;
  -webkit-background-clip: padding-box !important;
     -moz-background-clip: padding-box !important;
          background-clip: padding-box !important;
}
.group {
  position: relative;
  float: left;
}
.lastGroup {
  float: none;
  width: auto;
}
.table {display: table;}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}
/* Grid System
--------------------------------------------- */
.size1of8 {width: 12.5%;}
.size1of4,
.size2of8 {width: 25%;}
.size1of3 {width: 33.33333333333333%;}
.size3of8 {width: 37.5%;}
.size1of2,
.size2of4,
.sixe4of8 {width: 50%;}
.size5of8 {width: 62.5%;}
.size2of3 {width: 66.66666666666667%;}
.size3of4,
.size6of8 {width: 75%;}
.size7of8 {width: 87.5%;}
.size1of1,
.size2of2,
.size3of3,
.size4of4,
.size8of8 {width: 100%;}
@media screen and (max-width: 60em) { /* 960px */
  .size1of8 {width: 50%;}
}
@media screen and (max-width: 40em) { /* 640px */
  .size1of8,
  .size1of4, .size2of8,
  .size1of3,
  .size3of8,
  .size1of2, .size2of4, .sixe4of8,
  .size5of8,
  .size2of3,
  .size3of4, .size6of8,
  .size7of8,
  .size8of8 {width: 100%;}
}
